In [1]:
# Lesser of two evens

def less_even(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b
        
# can use min and max functions instead

In [2]:
less_even(2,4)

2

In [3]:
less_even(2,3)

3

In [4]:
less_even(3,7)

7

In [8]:
# Animal Crackers

def animal_crackers(string1):
    list1 = string1.split()
    if list1[0][0].upper()== list1[1][0].upper():
        return True
    else:
        return False

In [9]:
animal_crackers('Levelheaded Llama')

True

In [10]:
animal_crackers('Crazy Kangaroo')

False

In [11]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20.
# If not, return False

def makes_twenty(a,b):
    if a==20 or b==20:
        return True
    elif a+b==20:
        return True
    else:
        return False

In [15]:
makes_twenty(10,10)

True

In [48]:
makes_twenty(2,3)

False

In [22]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(string1):
    string2 = ''
    for x in range(1,len(string1)+1):
        if x==1:
            string2 += string1[x-1].upper()
        elif x==4:
            string2 +=string1[x-1].upper()
        else:
            string2 = string2 + string1[x-1]
    return string2

In [23]:
old_macdonald('macdonald')

'MacDonald'

In [82]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(string1):
    list1 = string1.split()
    list2 = []
    for x in range(1,len(list1)+1):
        list2[x-1] = list1[len(list1)-x])
    print(list2)

In [83]:
master_yoda('I am home')

IndexError: list index out of range

In [49]:
def old_mcdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourthletter = name[3]
    rest = name[4:]
    return first_letter.upper()+inbetween+fourthletter.upper()+rest

In [50]:
old_macdonald('macdonald')

'MacDonald'

In [53]:
def master_yoda(sentence):
    wordList = sentence.split()
    reversed_wordList = wordList[::-1]
    reversed_wordList = ' '.join(reversed_wordList)
    return reversed_wordList

In [54]:
master_yoda('I am home')

'home am I'

In [105]:
def master_yoda(string1):
    list1 = string1.split()
    list2 = []
    for value in list1:
        list2 = [value] + list2
    return list2

In [106]:
master_yoda('I am home')

['home', 'am', 'I']

In [97]:
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(num):
    if num in range(90,111):
        return True
    elif num in range(190,211):
        return True
    else:
        return False

In [99]:
almost_there(209)

True

In [100]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [102]:
almost_there(229)

False

In [156]:
def has_33(list1):
    for n in range(0,len(list1)):
        if n==0:
            if(list1[n]==3 and list[n+1]==3):
                return True
        else: 
            if(list1[n-1] == 3 and list1[n]== 3) or (list1[n]==3 and list[n+1]==3):
                return True
    return False

In [157]:
has_33([1, 3, 3])

True

In [158]:
has_33([1, 3, 1, 3])

False

In [159]:
has_33([3, 1, 3])

False

In [160]:
has_33([3, 3, 1,2,4,3])

True

In [163]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

def paper_doll(string1):
    string2 = ''
    for n in string1:
        string2 += n*3
    return string2

In [165]:
paper_doll('Hello')

'HHHeeellllllooo'

In [166]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [174]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, 
# return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
# if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    x = sum((a,b,c))
    if x <= 21:
        return x
    elif (x> 21) and (11 in [a,b,c]):
        x=x-10
        if(x<=21):
            return x
        else:
            return 'BUST'
    else:
        return x-10

In [175]:
blackjack(5,6,7)

18

In [176]:
blackjack(9,9,9)

17

In [178]:
blackjack(9,19,11)

'BUST'

In [179]:
# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers 
#starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

def summer_69(myList):
    num = 0
    count = 1
    for n in myList:
        if n!=6:
            num= num+n
            count+=1
        else:
            continue

In [180]:
def has_33(list1):
    for n in range(0,len(list1)-1):
        if list1[n]== 3 and list1[n+1] ==3:
            return True
    return False

In [181]:
def has_33(list1):
    for n in range(0,len(list1)-1):
        if list1[n:n+2]==[3,3]:
            return True
    return False

In [1]:
 def summer_69(myList):
        total = 0
        flag = True
        for num in myList:
            while flag:
                if num!=6:
                    total += num
                    break
                else:
                    flag = False
            while not flag:
                if num!=9:
                    break
                else:
                    flag = True
                    break
        return total

In [2]:
summer_69([1, 3, 5])

9

In [3]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [4]:
summer_69([2, 1, 6, 9, 11])

14

In [9]:
# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
def spy_game(myList):
    myNewList = []
    for num in myList:
        if num == 0:
            myNewList = myNewList + [myList.index(num)]
        elif num == 7:
            myNewList = myNewList + [myList.index(num)]
    return myNewList

In [13]:
spy_game([1,2,4,0,0,7,5])

[]

In [31]:
def spy_game(myList):
    myNewList = []
    myNewList1 = []
    for num in myList:
        if num == 0:
            myNewList+= myList[myList.index(num)+1:]
            break
    for num1 in myNewList:
        if num1 == 0:
            myNewList1+= myNewList[myNewList.index(num1)+1:]
            break
    if 7 in myNewList1:
        return True
    else:
        return False

In [29]:
spy_game([1,0,2,4,0,5,7])

True

In [32]:
spy_game([1,7,2,0,4,5,0])

[]

False

In [60]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

def count_primes(num):
    if num==1:
        print('1 is neither prime nor composite')
    else:
        for n in range(2,num+1):
            count = 0
            for m in range(2,n):
                if n%m == 0:
                    count+=1
            if count==0:
                print(n)

In [63]:
count_primes(17)

2
3
5
7
11
13
17

In [65]:
def spy_game(myList):
    code = [0,0,7,'x']
    for n in myList:
        if n==code[0]:
            code.pop(0)
    return len(code)==1

In [66]:
spy_game([1,7,2,0,4,5,0])

False

In [76]:
def check1(myString):
    myList =[]
    myList1= []
    for n in myString:
        myList.append(n)
        myList1= myList1 + [n]
    print(myList1)
    return myList

In [77]:
check1('Vennela')

['V', 'e', 'n', 'n', 'e', 'l', 'a']

['V', 'e', 'n', 'n', 'e', 'l', 'a']

In [78]:
myList = [1,2,3,4,5]

NameError: name 'square' is not defined