In [1]:
myList = [1,2,3,4,5,6,7,8,9,10]

In [12]:
for num in myList:
    if num % 2 == 0:
        print('even number : {}'.format(num))
    else:
        print(f'odd number : {num}')

odd number : 1
even number : 2
odd number : 3
even number : 4
odd number : 5
even number : 6
odd number : 7
even number : 8
odd number : 9
even number : 10

In [13]:
for _ in 'Vennela':
    print('cool')

cool
cool
cool
cool
cool
cool
cool

In [14]:
tup = (1,2,3,)

for n in tup:
    print(n)

1
2
3

In [51]:
myList = [(1,2),(3,4),(5,6),(7,8)]

for a,b in myList:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [49]:
myList = [(1,2,3),(4,5,6),(10,11,12)]

for x in myList:
    print(x)

(1, 2, 3)
(4, 5, 6)
(10, 11, 12)

In [30]:
d = {'k1':1, 'k2':2, 'k3':3}

for value in d.values():
    print(value)

1
2
3

In [34]:
x = 'Vennela'

for letter in x:
    if letter == 'n':
        break
    print(letter)

V
e

In [40]:
word = 'abcde'

for index,value in enumerate(word):
    print(index)
    print (value)

0
a
1
b
2
c
3
d
4
e

In [41]:
enumerate(word)

In [45]:
myList1 = [1,2,3,4]
myList2 = ['a','b','c','d']

for item in zip(myList1,myList2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [46]:
list(zip(myList1,myList2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [47]:
myList1 = [1,2,3,4]
myList2 = ['a','b','c','d']
myList3 = [100,200,300]
for a,b,c in zip(myList1,myList2,myList3):
    print (b)

a
b
c

In [52]:
d = {'a': 123, 'b': 345}

345 in d.values()

True

In [53]:
myList = [1,2,3,4,5,6,7]

In [54]:
from random import shuffle

In [55]:
shuffle(myList)

In [56]:
myList

[6, 1, 2, 4, 5, 7, 3]

In [57]:
sort(myList)

NameError: name 'sort' is not defined

In [58]:
myList.sort()

In [59]:
myList

[1, 2, 3, 4, 5, 6, 7]

In [61]:
myString = 'Vennela'
myList = []
for n in myString:
    myList.append(n)
print(myList)

['V', 'e', 'n', 'n', 'e', 'l', 'a']

In [62]:
myList = [letter for letter in 'Vennela']

In [63]:
myList

['V', 'e', 'n', 'n', 'e', 'l', 'a']

In [66]:
myList = [x**2 for x in range(0,10)]

In [67]:
myList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
myList = [x for x in range(0,10) if x%2 == 0]

In [69]:
myList

[0, 2, 4, 6, 8]

In [71]:
Celsius = [1, 10.5, 11, 14.6]

Fahrenheit = [((9/5)*temp + 32) for temp in Celsius]

In [72]:
Fahrenheit

[33.8, 50.900000000000006, 51.8, 58.28]

In [73]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [74]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [75]:
myList = [x*y for x in [2,4,6] for y in [1,10,100]]

In [76]:
myList

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [77]:
st = 'Print only the words that start with s in this sentence'

In [92]:
myList = st.split()
for n in myList:
    if n[0] == 's':
        print(n)

start
s
sentence

In [94]:
myList = st.split()
for n in myList:
    if n[0] == 's':
        print(n)

start
s
sentence

In [95]:
for n in range(0,11):
    if n%2 == 0:
        print(n)

0
2
4
6
8
10

In [96]:
myList = [x for x in range(1,51) if x%3 == 0]

In [97]:
myList

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [98]:
st = 'Print every word in this sentence that has an even number of letters'

In [99]:
myList = st.split()

for n in myList:
    x = len(n)
    if x%2 == 0:
        print(n)

word
in
this
sentence
that
an
even
number
of

In [107]:
for x in range(1,101):
    if x%3 == 0 and x%5 == 0 :
        print("FizzBuzz")
    elif x%3 == 0:
        print("Fizz")
    elif x%5 == 0:
        print("Buzz")
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [103]:
st = 'Create a list of the first letters of every word in this string'

In [105]:
myList = [x[0] for x in st.split()]

In [106]:
myList

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [109]:
myList.insert(0,'P')

In [110]:
myList

['P', 'C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']